/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

dl.message-list div:nth-child(even) {
    background-color: #eaeaea;
}

.masonry-brick { width: 25%; }

#loginForm {
    text-align: center;
    left: auto;
    right: auto;
}

#message-box {
    height: 600px;
    overflow: auto;
}

dl.message-list > div {
    padding-top: 3px;
    padding-bottom: 3px;
}

dl.message-list .mine {
    background-color: yellow;
}

#remotevideo, #remotevideo video, #myvideo {
    width: 100%;
}